@import "tailwindcss";
@import "@toolwind/anchors";

@plugin "@tailwindcss/typography";

@theme {
  --color-primary: var(--color-emerald-500);
  --color-secondary: var(--color-blue-500);
  --color-tertiary: var(--color-purple-500);
}

/* Shiki */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html {
  background-color: white;
  color: black;
}

html.dark {
  background-color: black;
  color: white;
}
